body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}
header {
    background: #2c3e50;
    color: white;
    padding: 1rem 0;
    font-size: 1.5rem;
    width: 100%;
}
.container{
    max-width: 800px;
    margin: 20px 0;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
h2 {
    color: #2c3e50;
}
label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    margin: 3%;
}
textarea, input[type="text"], button, .accordion-label {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}
button, .accordion-label  {
    background: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    margin: 3%;
}
button:hover {
    background: #2980b9;
}




/* Стили для блока описания */
.app-description {
    text-align: left;
    width: 100%;
    padding: 20px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-description h2 {
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.app-description h3 {
    color: #2c3e50;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.app-description p {
    line-height: 1.6;
    margin-bottom: 15px;
    color: #555;
}

.app-description ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}

.app-description ul li {
    margin-bottom: 10px;
    color: #555;
}

.app-description button {
    width: auto;
    padding: 10px 20px;
    margin-top: 20px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.app-description button:hover {
    background: #2980b9;
}


.instructions{
    display: none;
}




/* шифрование текста */
.output {
    margin-top: 20px;
    width: 100%;
    text-align: left;
    /* display: none; */
    /* display: flex; */
    flex-direction: column;
    align-items: stretch;
}

.result-card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.result-card h4 {
    color: #2c3e50;
    margin: 2%;
}

.result-card p {
    font-size: 1.1em;
    color: #555;
}

.result-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background: #f2f2f2;
}







/* для шифрования текста */
.accordion-toggle {
    display: none; /* Скрываем чекбокс */
}

.accordion-label:hover {
    background-color: #2980b9;
}

.panel {
    display: none; /* Скрываем панель по умолчанию */
    overflow: hidden;
    background-color: white;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.accordion-toggle:checked + .accordion-label + .panel {
    display: block; /* Показываем панель, когда чекбокс отмечен */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 0.9em; /* Уменьшение размера шрифта */
}

th, td {
    border: 1px solid #ccc;
    padding: 5px; /* Уменьшение отступов */
    text-align: center;
}

th {
    background: #f2f2f2;
    /* display: none; Скрытие заголовков */
}

tr:hover {
    background: #f9f9f9; /* Подсветка строки при наведении */
}








/* для таблицы частот */
/* .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
} */
.frequency-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.frequency-table th, .frequency-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
.frequency-table th {
    background-color: #f2f2f2;
}

.frequency-container {
    
    flex-direction: column;
    align-items: center;
}







/* .c1{
    display: none;
} */